.single-product-container {
    border: 0px solid white;
    border-radius: 10px;
    background: linear-gradient(45deg, #ffffff, #ffffff);
    box-shadow: 2px 2px 4px #000000,
        -2px -2px 4px #ffffff;
    width: 100%;
}

.single-product-container img {
    height: 250px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bike-details {
    padding: 4px;
    text-align: center;
}

.single-product-container button {
    width: 100%;
    border: none;
    background-color: rgba(0, 0, 0, 0.496);
    /* background-color: red; */
    /* background-color: #00457c; */
    /* background-color: rgba(255, 166, 0, 0.244); */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 6px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

.single-product-container button:hover {
    background-color: #00457c;
}